# This file is imported by init.{ro.hardware}.rc

# to override this file (device specific .rc)
import /init.${ro.hardware}_core.rc

on init
    # Set permissions for persist partition
    mkdir /persist 0771 system system
    # See storage config details at http://source.android.com/tech/storage/
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage 0751 system sdcard_r
    mkdir /storage/emulated 0555 root root
    mkdir /storage/emulated/legacy 0555 root root
    mkdir /mnt/media_rw/external_SD 0700 media_rw media_rw
    mkdir /storage/external_SD 0700 root root

    export EXTERNAL_STORAGE /storage/emulated/legacy
    export EXTERNAL_ADD_STORAGE /storage/external_SD
    export SECONDARY_STORAGE /storage/external_SD
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated

# For USB-OTG
    mkdir /mnt/media_rw/USBstorage1 0700 media_rw media_rw
    mkdir /mnt/media_rw/USBstorage2 0700 media_rw media_rw
    mkdir /mnt/media_rw/USBstorage3 0700 media_rw media_rw
    mkdir /mnt/media_rw/USBstorage4 0700 media_rw media_rw
    mkdir /mnt/media_rw/USBstorage5 0700 media_rw media_rw
    mkdir /mnt/media_rw/USBstorage6 0700 media_rw media_rw

    export EXTERNAL_ADD_USB_STORAGE1 /storage/USBstorage1
    export EXTERNAL_ADD_USB_STORAGE2 /storage/USBstorage2
    export EXTERNAL_ADD_USB_STORAGE3 /storage/USBstorage3
    export EXTERNAL_ADD_USB_STORAGE4 /storage/USBstorage4
    export EXTERNAL_ADD_USB_STORAGE5 /storage/USBstorage5
    export EXTERNAL_ADD_USB_STORAGE6 /storage/USBstorage6

    mkdir /storage/USBstorage1 0700 root root
    mkdir /storage/USBstorage2 0700 root root
    mkdir /storage/USBstorage3 0700 root root
    mkdir /storage/USBstorage4 0700 root root
    mkdir /storage/USBstorage5 0700 root root
    mkdir /storage/USBstorage6 0700 root root

    # Support legacy paths
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0

    # Mount pstore file system on /mnt/pstore
    mkdir /mnt/pstore 660 system system
    mount pstore /mnt/pstore /mnt/pstore

    # LGE_UPDATE_START, 2014/08/27, Z2G4-BSP-FileSys@lge.com
    # Create filesystems if necessary.
    exec /sbin/setup_fs_static \
      /dev/block/bootdevice/by-name/userdata \
      /dev/block/bootdevice/by-name/cache \
      /dev/block/bootdevice/by-name/drm \
      /dev/block/bootdevice/by-name/sns \
      /dev/block/bootdevice/by-name/mpt \
      no_reboot
    # LGE_UPDATE_END

on property:sys.boot_completed=1
    # ramoops backup function start service
    start ramoops_backup

on post-fs-data
    # Z2G4-BSP-TS@lge.com make directory for sns.reg used by sensordaemon
    mkdir /sns/cal/ 0644 system system

# ramoops backup function service
service ramoops_backup /system/bin/sh /system/etc/ramoops_backup.sh
    class main
    disabled
    oneshot

# enable & disable crash handler, rtb & trace event through property
service service-crash /system/bin/sh /init.betaz.crash.sh
    class main
    disabled
    oneshot

on property:persist.service.crash.enable=1
    restart service-crash

on property:persist.service.crash.enable=0
    restart service-crash

# start sensor daemon as core class [START]
service lge-sensor-sh /system/bin/sh /init.betaz.sensor.sh
    class core
    user root
    oneshot
# start sensor daemon as core class [END]

# LGE_CHANGE_START
on post-fs
    # execute sreadahead daemon to reduce boot-time
    start sreadahead
# LGE_CHANGE_END

on boot
    start set_emmc_size

on property:persist.sys.emmc_size=32G
   setprop ro.device.memory.system 0
   setprop ro.device.memory.internal 32

on property:persist.sys.emmc_size=16G
    setprop ro.device.memory.system 0
    setprop ro.device.memory.internal 16

service sdcard /system/bin/sdcard -u 1023 -g 1023 -l /data/media /mnt/shell/emulated
    class late_start

service fuse_external_SD /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/external_SD /storage/external_SD
    class late_start
    disabled

# fuse for USBStorage
service fuse_USBstorage1 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/USBstorage1 /storage/USBstorage1
    class late_start
    disabled

service fuse_USBstorage2 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/USBstorage2 /storage/USBstorage2
    class late_start
    disabled

service fuse_USBstorage3 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/USBstorage3 /storage/USBstorage3
    class late_start
    disabled

service fuse_USBstorage4 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/USBstorage4 /storage/USBstorage4
    class late_start
    disabled

service fuse_USBstorage5 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/USBstorage5 /storage/USBstorage5
    class late_start
    disabled

service fuse_USBstorage6 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/USBstorage6 /storage/USBstorage6
    class late_start
    disabled

# set eMMC size
service set_emmc_size /system/bin/sh /set_emmc_size.sh
    class main
    user root
    group media_rw system sdcard_rw
    disabled
    oneshot

# LGE_CHANGE_START, execute sreadahead daemon to reduce boot-time
service sreadahead /sbin/treadahead
    oneshot
    disabled
    seclabel u:r:sreadahead:s0

# make a diecision whether sreadahead would be performed or not.
service sreadahead-check /sbin/sreadahead_check
    class main
    user root
    group root
    oneshot
    seclabel u:r:sreadahead-check:s0
# LGE_CHANGE_END
